@{
    ViewData["Title"] = "Alunos";
}
<h1>@ViewData["Title"]</h1>

<p>Trabalho desenvolvido pelos alunos:</p>
<ul>
    <li>Isabelle Cristina</li>
    <li>Nilmar Miglioli</li>
    <li>Thálice Lopes</li>
</ul>
<p>como requisito parcial para aprovação no 4º período do curso de Sistemas de Informação na disciplina Programação III, no Centro Universitário Geraldo Di Biase</p>
