@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Cadastre alunos e projetos no menu acima.</p>
</div>
<div class="text-center">
    <i>“Quando a educação não é libertadora, o sonho do oprimido é ser o opressor.”<i/><br/>
    <i>- Paulo Freire</i>
</div><br/><br/>
<div class="text-center">
    <p>O objetivo da aplicação é facilitar o contato entre professores e alunos na criação e manutenção de projetos, almejando aumento de 
        produtividade escolar e menor redundância de informações. 
    </p>
</div>